@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
}

body {
	font-size:100%;
    width: 100%; 
    margin: auto;
    font-family: 'Roboto','Verdana' ,sans-serif;
    color: #2d2e2e;
}

section{
	margin:0.1% 0;
	display:flex;
	
}
main,nav,aside{
	flex:auto;
}

h1,h2{
	font-weight: bold;
	font-size:2em;
}
	
p{
	font-size:1em;
}

header {  
    background: #eeeeee;
}

header h1 {
    width: 181px;
    height: 90px;
    background-image: url(../img/logo-fatec-bs.png);
    text-indent: -9999px;
    margin: 0.5% 1%;
}

footer {
	text-align: center;
    background: #333;
    color: #f3f3f3;
}

header, footer {
    width: 100%;
    padding: 1%;
    clear: right;
}

nav{
	font-family: Verdana, sans-serif;
	color:#DDD;
	width:15%;	
	background: #222;		
}

a{
	color: #666;
}
main{
	width:68%;			
}
aside{
	width: 15%;
	background: #ab5656;
}
aside a{
	color:#000;
}

nav, main{
	float: left;		
	min-height: 1000px;
	//margin-bottom: 1%;
	padding-left:5%;
	padding-right:5%;
}

main{
	padding-left:5%;
	padding-right:5%;
}

aside {
	float: left;		
	min-height: 1000px;
	padding-left:1%;
	padding-right:1%;
}

.nav{
	text-align: center;
	height: 70px;
	line-height: 70px;
	background-color:#222;
}
.menu{
	margin: 0 30px 0 0;
	background-color:#222;
}
.menu a{
	clear: both;
	text-decoration:none;
	color:#DDD;
	margin:0 10px;
	line-height: 70px;
	background-color:#222;
}
li{
	list-style-type:none;
}
label{
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
	float: right;
}
#toggle{
	display: none;
}

@media only screen and (max-width:700px) {	 
	section{
		flex-direction:column;
	}
	nav{
		margin:0;
		padding:0;
	}
	main, nav, aside {
		width:100%;
		min-height:70px;
		text-align: center;
	}
	main{
		z-index:-1;
	}
	
	h1,h2{
		font-weight: bold;
		font-size:1.75em;
	}
	
	p{
		font-size:1.25em;
		text-align: justify;
	}
	
	label{
		display:block;
		cursor: pointer;
	}
	.menu{
		text-align: center;
		width: 100%;
		display: none;
	}
	.menu a{
		display:block;
		margin:0;
	}
	#toggle:checked + .menu {
		display: block;
	}
	#toggle:checked + .nav{
		height:800px;
	}
}









/*box-sizing: border-box;  padding-width=nova width*/



/* Folha de estilo responsiva 

@media screen and (min-width:500px) and (max-width:700px) {
	
}
*/
