*{
    box-sizing: border-box;
    margin: 0 auto;   
}

html, body {   
    font: normal  1em 'Open Sans', Helvetica, sans-serif;
    color:#333;
    margin: 0 ;
    display: block;
    text-align: justify;
}

::-webkit-scrollbar {
  width: 12px;
}


::-webkit-scrollbar-track {
  background:#eee;
  
}

::-webkit-scrollbar-thumb {
  background: #37d; 
}

::-webkit-scrollbar-thumb:hover {
  background: #26c; 
}

h1,#logo{
    font-family: 'Rockwell','Consolas';
}

header {
    background: #37d;
    margin: 0;
    width:inherit;
    min-height: 3em;
}
    #logo{
        float: right;
        font-weight: bold;
        line-height:15pt;
        font-size:1.2em;
        color:#efefef;
        margin:0.2em;
    }
    #logo:hover{
        color:#fff;
        transition: 0.5s;
        cursor: pointer;
    }
    #menu{
        font-size:2em;
        margin:0;
        padding:10px;
        width: 50px;
        cursor: pointer;
        color:#efefef;
    }
    #menu:hover{
        transition: 0.5s;
        color:#fff;
    }
    
    #nav{
        display: none;
        list-style-type: none;
        font-size: 14pt;
        line-height: 50px;
        text-align: center;
    }
    #nav>li>a{
        color:#eee;
        transition: 0.5s;
        width: 100%;
    }
    #nav>li>a:hover{
        color:#fff;
        transition: 0.5s;
        width: 100%;
    }
    
a,a:visited{
    text-decoration: none;
    color: inherit;
}
.cards a:hover, #curriculo a:hover{
    color:#37d;
    transition: 0.5s;
}

li{
    list-style-type: none;
}

h1{
    text-align:center;
    display: block;
    margin:1em;
    color:#37d;
    font-weight: normal;
    font-size: 2.5em;
    border-bottom:1px solid #37d;
}     

/*-----------As dimensões dos elementos estão seguindo a prática mobile-first*/
.cards {
    background: #fff;  
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    .card{
        min-height: 300px;
        background: #fff;
        margin:5px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.363);
        flex: 1 0 90%;
    }
    .card:hover{
        transition:0.4s;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.363);
    }
        .thumb{
            background-color: #eee;
            height:50%;
            overflow: hidden;
        }
        .thumb>img{
            width: 100%;
            position: center;    
        }
        
        .info{
          text-align: justify;
          padding: 20px 40px;
          height: 50%;
        }
        .info> h3{
            text-align:center;
        }
h2{
    font-size:2rem;
    margin:25px 0;
}
#curriculo{
    margin: 0px 2em;
    line-height: 1.5em;
}
    
    #curriculo p{
        margin: 1em 0em;
    }
    
#eu{
    
	text-align:center;
	display:block;
}
	#eu>img{
	border-radius: 50%;
    	width:200px;
	}
footer {    
    background:#333;
    color: #ddd;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    
}
    footer>h3{
        color: #fff;
    }
    footer>p{
        padding-bottom: 20px;
    }
	
	footer .fa{
	  padding: 10px;
	  font-size: 1.5em;
	  width: 50px;
	  text-align: justify;
	  text-decoration: none;
	  margin: 10px 2px;
	  cursor: pointer;
	}
    .fa-file-pdf-o{
        
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 50px;
	  
    }

	footer  .fa:hover {  
	  color: #fff;
	}

@media screen and (min-width: 40em/*640px*/) {
    .cards{
        margin: 2em auto;
    }
    .card {
        max-width: calc(50% -  1em);
    }
    #curriculo{
        margin: 0px 8em;
        line-height: 20pt;
    }
}
 
@media screen and (min-width: 60em) {
    .cards{
        margin: 1em 2em;
    }
    .card {
        max-width: calc(25% - 1em);
    }
    #curriculo{
        margin: 0px 16em;
    }
}

/*Call to action, texto e imagem da homepage*/
.container{
    position: relative;
    color: #fff;
    overflow: hidden;
    height:550px;
}
    .container>img{
        filter: brightness(.5); 
        height:100%;
        min-width:100%;
    }
    .caption,.call{
        position: absolute;
        margin: 50px;
        left: 0px;
    }
    .caption{
        cursor: default;
        top: 50px;
        font-size: 2.5em;
        font-weight: bold;
        width: 80%;
        text-align: left;
    }
    .call{
        cursor: pointer;
        color:#fff;
        bottom: 50px;
        padding: 5px 30px;
        font-size:2em;
        background: linear-gradient(to left,#6cf,#37d);
        border: none;
        border-radius: 50px;
        
    }
    .call:hover{
        transition-duration: 1s;
        color:#ddd;
        transform: translateY(.6px);
    }
    
    .call:active{
        transform: translateY(3px);
        
    }

    @media screen and (min-width: 60em){
        .caption,.call{
            margin:0% 20%;
        } 
        .caption{
            width: 40%;
            top:100px;
        }
        .call{
            bottom: 100px;
        }
    } 
    @media screen and (min-width: 40em){
        .caption{
            top:120px;
        }
    }    
/*------------------------------------------------*/
