body{background-image:url("background1.png");}
div{margin-right:5px; text-align:center;}
#menu{list-style-type: none;}
.item{display:inline; margin-right:10px;float:center}
	
#um{background-color:#59b300; color:white; display:block; width:301px; height:400px; float:left;}
#dois{background-color:#ff8000; color:white; display:block; width:301px; height:400px;float:left;}
#tres{background-color:#0080ff; color:white; display:block; width:301px; height:400px;float:left;}
#footer{
color:white;
margin-top:50%;

}
